<div class="geo-popup">
    <div class="geo-popup__header">
        <div class="geo-popup__location"></div>
        <a href="#" class="geo-popup__btn-close">
            <span class="geo-popup__btn-close__stick"></span>
        </a>
    </div>
    <div class="geo-popup__container">
        <div class="geo-popup__comments">
            <div class="geo-popup__comment">
                <div class="geo-popup__comment-up">
                    <h3 class="geo-popup__comment__person">Имя Человека</h3>
                    <h4 class="geo-popup__comment__place">Местоположение</h4>
                    <div class="geo-popup__comment__date">Дата комментария</div>
                </div>
                <div class="geo-popup__comment-down">
                    <p class="geo-popup__comment__text">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <form class="geo-popup__form">
            <h2 class="geo-popup__form__title">Ваш отзыв</h2>
            <label class="geo-popup__form__block">
                <input type="text" class="geo-popup__form__input" placeholder="Ваше имя" name="login">
            </label>
            <label class="geo-popup__form__block">
                <input type="text" class="geo-popup__form__input" placeholder="Укажите место" name="place">
            </label>
            <label class="geo-popup__form__block">
                <textarea  rows="6" class="geo-popup__form__textarea" placeholder="Поделитесь впечатлениями" name="comment"></textarea>
            </label>
            <a href="#" class="geo-popup__form__btn-send">Отправить</a>
        </form>
    </div>
</div>