.geo-popup {
    width: 375px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.is-active {
    display: flex;
}

.geo-popup__header {
    background-color: #ff8663;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.geo-popup__location {
    font-size: 12px;
    font-weight: 300;
    padding: 15px 0 15px 30px;
    color: #ffff;
    position: relative;
    user-select: none;
}

.geo-popup__location::before {
    content: "";
    background: url('../../images/mini-marker.png');
    width: 8px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.geo-popup__btn-close {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateY(-50%);
    top: 30px;
    right: 12px;
}

.geo-popup__btn-close__stick {
    width: 16px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(45deg);
    display: block;
    position: relative;
}

.geo-popup__btn-close__stick::after {
    content: "";
    width: 16px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(-90deg);
    position: absolute;
}

.geo-popup__container {
    padding: 0 15px;
    margin-top: 15px;
}

.geo-popup__comments {
    height: 160px;
    overflow-y: scroll;
}

.geo-popup__comments::-webkit-scrollbar {
    background-color: #fff;
    width: 3px;
}

.geo-popup__comments::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 5px;

}

.geo-popup__comment-list {
    margin-bottom: 25px;
}

.geo-popup__comment:last-child {
    margin-bottom: 10px;
}

.geo-popup__comment-up {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4f4f4f;
}

.geo-popup__comment__person {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    white-space: nowrap;
}

.geo-popup__comment__place {
    font-size: 16px;
    margin-right: 5px;
}

.geo-popup__comment__date {
    font-size: 14px;
}

.geo-popup__comment__text {
    font-size: 15px;
}

.geo-popup__hr {
    margin: 10px 0;
}

.geo-popup__form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.geo-popup__form__title {
    font-size: 16px;
    font-weight: 500;
    color: #ff8663;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.geo-popup__form__input,
.geo-popup__form__textarea {
    width: 100%;
    border-radius: 15px;
    border: solid 1px #c4c4c4;
    outline: none;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 15px;
}

.geo-popup__form__textarea {
    margin-bottom: 10px;
}

.geo-popup__form__input:focus,
.geo-popup__form__textarea:focus {
    box-shadow: 0 0 0 1px #c4c4c4;
}

.geo-popup__form__textarea {
    resize: none;
}

.geo-popup__form__btn {
    align-self: flex-end;
    background-color: #ff8663;
    border-radius: 10px;
}

.geo-popup__form__btn:hover {
    background-color: #c05c40;
}

.geo-popup__form__btn-send {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    display: block;
    padding: 7px 17px;
}