<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e7e2b2c2-40ae-436e-a701-4e920435b8e3&lang=ru_RU" type="text/javascript"></script>
    <title>Yandex map API</title>
</head>
<body>
    <div class="wrapper">
        <div id="map"></div>
        {{> "./popup/geo-popup.hbs"}}
    </div>
</body>
</html>